# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.test.local
.env.development
.env.development.local
.env.production
.env.production.local

# vercel
.vercel

# changelog
CHANGELOG.md

# settting
.prettierrc
.prettierignore
.gitignore
.github
.vscode
package-lock.json
package.json
tsconfig.json
README.md
/src/components/ui/*

# font
/src/app/fonts/*


#public
/public