@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --po-gray-000: 0 0% 100%;
    --po-gray-050: 240 23% 97%;
    --po-gray-200: 240 20% 95%;
    --po-gray-300: 240 13% 90%;
    --po-gray-400: 233 10% 82%;
    --po-gray-500: 232 10% 69%;
    --po-gray-600: 231 9% 56%;
    --po-gray-700: 231 10% 27%;
    --po-gray-800: 229 13% 17%;

    --po-darkcyan-1: 205 100% 92%;
    --po-darkcyan-2: 205 100% 85%;
    --po-darkcyan-3: 205 57% 58%;
    --po-darkcyan-4: 205 45% 49%;

    --po-cyan-1: 188 100% 95%;
    --po-cyan-2: 188 72% 43%;

    --po-red-1: 20 100% 96%;
    --po-red-2: 4 100% 62%;

    --po-green-1: 118 100% 94%;
    --po-green-2: 137 100% 35%;

    --po-blue-1: 209 100% 95%;
    --po-blue-2: 209 98% 53%;

    --po-pink-1: 338 100% 97%;
    --po-pink-2: 339 100% 63%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
  html {
    @apply h-full;
  }
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0) !important;
}
